

h2 {
    color: red;
    font-size: 4.5em;
}

h3 {
    font-size: 3em;
}

.headingStyle {
    font-weight: bold;
    text-decoration: underline;
}

#asideHeader {
    background-color: darkblue;
    color: gold;
}

article a {
    color: red;
}

footer a {
    color: ivory;
}

iframe {
    border-radius: 5px 5px 5px 5px;
}

.text {
    font-size: 1.3em;
}

main {
    background-color: rgba(0, 0, 0, .7);
}
